<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TikTok</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>
<body>
    <div id="bg">
        <div id="bottom-icons-bar-wrapper">
            <div class="icon fa fa-house">
                <h1 class="icon-name">Home</h1>
            </div>

            <div class="icon fa fa-user-group">
                <h1 class="icon-name">Friends</h1>
            </div>

            <div id="plus-btn" class="icon fa fa-plus">
                <h1 class="icon-name">Plus</h1>
            </div>

            <div class="icon fa fa-inbox">
                <h1 class="icon-name">Inbox</h1>
            </div>

            <div id="user-profile-btn" class="icon fa fa-snowman">
                <h1 class="icon-name">Profile</h1>
            </div>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <div id="publish-popup">
        <img class="photo" draggable="false" src="" alt="Image not found" />
        <input type="text" class="caption-input-field" placeholder="Caption..." />
        <div class="random-photo-btn">
            <h1>Random</h1>
        </div>
        <div class="publish-btn">
            <h1>Publish</h1>
        </div>
    </div>

    <div id="profile-popup">
        <h1 id="profile-name"></h1>
        <div id="basic-info-wrapper">
            <div class="info-wrapper">
                <h1 id="posts-info-value" class="value"></h1>
                <h2 class="category">Posts</h2>
            </div>

            <div class="info-wrapper">
                <h1 id="comments-info-value" class="value"></h1>
                <h2 class="category">Comments</h2>
            </div>

            <div class="info-wrapper">
                <h1 id ="likes-info-value" class="value"></h1>
                <h2 class="category">Likes</h2>
            </div>
        </div>
        <div id="navigation-menu">
            <div id="published-posts" class="icon fa fa-bars-staggered"></div>
            <div id="saved-posts" class="icon fa fa-bookmark"></div>
            <div id="liked-posts" class="icon fa fa-heart"></div>
        </div>
    </div>

    <script src="~/js/layoutLogic.js"></script>
</body>
</html>
