body {
    padding: 0;
    margin: 0;
    height: 100vh;
    aspect-ratio: 9 / 16;
}

#top-bar-wrapper {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.top-bar-title {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    user-select: none;
}

.media-wrapper {
    height: 100vh;
    aspect-ratio: 9 / 16;
    position: absolute;
    transition: 500ms ease-in-out;
    z-index: -10;
    opacity: 0;
}

    .media-wrapper.active {
        transform: translate(0, 0);
        opacity: 1;
    }

    .media-wrapper.previous {
        transform: translate(0, -100%);
    }

    .media-wrapper.next {
        transform: translate(0, 100%);
    }

    .media-wrapper .photo {
        position: relative;
        z-index: -9;
        width: 100%;
        height: 100%;
    }

#side-icons-bar-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    aspect-ratio: 9 / 16;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.icons-side-menu {
    position: absolute;
    transform: translate(-100%, -50%);
    top: 60%;
    left: 100%;
    width: 5vw;
    height: 45vh;
    /* background-color:black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .icons-side-menu .icon:nth-child(1) {
        width: 4.125vw;
        height: 4.125vw;
        line-height: 4.125vw;
        font-size: 3.3vw;
    }

    .icons-side-menu .icon {
        color: #fff;
        /* background-color:black; */

        text-align: center;
        vertical-align: middle;
        margin: 0.55vw;
        width: 3.125vw;
        height: 3.125vw;
        line-height: 3.125vw;
        font-size: 2.5vw;
        cursor: pointer;
    }

.like-button.click-enabled {
    animation: likeAnimation 0.25s linear 0s 1 normal forwards;
}

.like-button.click-disabled {
    animation: unLikeAnimation 0.25s linear 0s 1 normal forwards;
}

.save-button.click-enabled {
    animation: saveAnimation 0.25s linear 0s 1 normal forwards;
    transition: 0.35s;
    transform: rotate(360deg);
}

.save-button.click-disabled {
    animation: unSaveAnimation 0.25s linear 0s 1 normal forwards;
}

@keyframes likeAnimation {
    0% {
        color: #fff;
        font-size: 2.5vw;
    }

    50% {
        color: #da0b0b;
        font-size: 3.5vw;
    }

    100% {
        color: #da0b0b;
        font-size: 2.5vw;
    }
}

@keyframes unLikeAnimation {
    0% {
        color: #da0b0b;
        font-size: 2.5vw;
    }

    50% {
        color: #fff;
        font-size: 3.5vw;
    }

    100% {
        color: #fff;
        font-size: 2.5vw;
    }
}

@keyframes saveAnimation {
    0% {
        color: #fff;
        font-size: 2.5vw;
    }

    50% {
        color: #e0c31a;
        font-size: 3.5vw;
    }

    100% {
        color: #e0c31a;
        font-size: 2.5vw;
    }
}

@keyframes unSaveAnimation {
    0% {
        color: #e0c31a;
        font-size: 2.5vw;
    }

    50% {
        color: #fff;
        font-size: 3.5vw;
    }

    100% {
        color: #fff;
        font-size: 2.5vw;
    }
}



#comment-section-wrapper {
    width: 100%;
    height: 0vh;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    opacity: 1;
    padding: 0;
    margin: 0;
    border-radius: 1.25vw 1.25vw 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    transition: 300ms;
}

    #comment-section-wrapper *, #comment-section-footer, #comment-section-footer * {
        transition: 225ms;
    }

    #comment-section-wrapper.open {
        height: 60vh;
    }

        #comment-section-wrapper.open #comment-section-header {
            height: 5vh;
            top: 0;
        }

        #comment-section-wrapper.open #comments-number {
            opacity: 1;
            font-size: 1.5vw;
        }



#comment-section-footer.open {
    height: 7vh;
}

    #comment-section-footer.open #comment-input-field {
        height: 60%;
    }

    #comment-section-footer.open #comment-input-field-profile-pic, #comment-section-footer.open #comment-input-field {
        opacity: 1;
    }

#comment-section-header {
    width: 100%;
    height: 0vh;
    background-color: #fff;
    position: relative;
    transform: translate(0%, 0);
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comments-number {
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    margin: 0;
}

#comments-list-wrapper {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    padding: 0;
    /* background-color: #000; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

/*.comment-wrapper, .comment-wrapper * {border: 1px solid red}*/
.comment-wrapper {
    margin: 0;
    width: 100%;
    height: fit-content;
    max-height: 25%;
    /* background-color: #000; */
}

.profile-pic {
    position: relative;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: #646464;
    margin: 0 0 0 0.33vw;
}

.profile-name {
    position: relative;
    left: 133%;
    top: 0%;
    width: 15vw;
    height: 2vh;
    line-height: 100%;
    text-align: left;
    vertical-align: middle;
    font-size: 1vw;
    color: #000;
    word-wrap: normal;
    margin: 0;
}

.comment-text {
    min-height: 12vh;
    max-height: 12.5vh;
    min-width: 20.5vw;
    max-width: 21vw;
    position: relative;
    width: 85%;
    height: 75%;
    margin: 0;
    /**/

    left: 15.5%;
    top: 0%;
    transform: translate(0, -29%);
    color: #000;
    font-size: 1.25vw;
    text-align: left;
    overflow: hidden;
    white-space: break-spaces;
    word-wrap: break-word;
}

#comment-section-footer {
    width: 100%;
    height: 0;
    background-color: #fff;
    position: fixed;
    transform: translate(0%, -100%);
    top: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comment-input-field-profile-pic {
    height: 65%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: blue;
    margin: 0 1vw;
    opacity: 0;
}

#comment-input-field {
    width: 80%;
    height: 60%;
    border-radius: 10vw;
    padding: 0rem 1rem;
    background-color: #ccc;
    margin: 0 1vw;
    color: #fff;
    font-size: 1.25rem;
    border: 3px solid #aaa;
    opacity: 0;
}
