body {
    padding: 0;
    margin: 0;
    height: 100vh;
    aspect-ratio: 9 / 16;
}

.media-wrapper {
    height: 100vh;
    aspect-ratio: 9 / 16;
    position: absolute;
    transition: 500ms ease-in-out;
    z-index: -10;
    opacity: 0;
}

    .media-wrapper.active {
        transform: translate(0, 0);
        opacity: 1;
    }

    .media-wrapper.previous {
        transform: translate(0, -100%);
    }

    .media-wrapper.next {
        transform: translate(0, 100%);
    }

    .media-wrapper .photo {
        position: relative;
        z-index: -9;
        width: 100%;
        height: 100%;
    }

.caption-wrapper {
    background-color: #181818;
    width: 60%;
    height: 12.5%;
    position: absolute;
    top: 83%;
    left: 0%;
    transform: translate(0, -50%);
    background: rgba(0,0,0,0);
    border-radius: 10px 10px 20px 20px;
}

    .caption-wrapper.active {
        background: rgb(24,24,24);
        background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,0.175) 100%);
    }

.caption-content {
    font-size: 1.15rem;
    color: #fff;
    max-width: 100%;
    white-space: break-spaces;
    word-break: break-all;
    word-wrap: anywhere;
    margin: 0.5em;
    line-height: 133%;
}

#side-icons-bar-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    aspect-ratio: 9 / 16;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.icons-side-menu {
    position: absolute;
    transform: translate(-100%, -50%);
    top: 60%;
    left: 100%;
    width: 5vw;
    height: 45vh;
    /* background-color:black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .icons-side-menu .icon:nth-child(1) {
        width: 4.125vw;
        height: 4.125vw;
        line-height: 4.125vw;
        font-size: 3.3vw;
    }

    .icons-side-menu .icon {
        color: #fff;
        /* background-color:black; */

        text-align: center;
        vertical-align: middle;
        margin: 0.55vw;
        width: 3.125vw;
        height: 3.125vw;
        line-height: 3.125vw;
        font-size: 2.5vw;
        cursor: pointer;
    }

.like-button.click-enabled {
    animation: postLike 0.25s linear 0s 1 normal forwards;
}

.like-button:not(.click-enabled) {
    animation: postUnlike 0.25s linear 0s 1 normal forwards;
}

@keyframes postLike {
    50% {
        color: #da0b0b;
        font-size: 3.5vw;
    }

    100% {
        color: #da0b0b;
        font-size: 2.5vw;
    }
}

@keyframes postUnlike {
    0% {
        color: #da0b0b;
    }

    50% {
        color: #fff;
        font-size: 3.5vw;
    }
}



#comment-section-wrapper {
    width: 100%;
    height: 0vh;
    background-color: #181818;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    opacity: 1;
    margin: 0;
    border: 5px solid #212121;
    border-radius: 1.25vw 1.25vw 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    transition: 300ms;
}

    #comment-section-wrapper *, #comment-section-footer, #comment-section-footer * {
        transition: 200ms;
    }

    #comment-section-wrapper.open {
        height: 65vh;
        top: 95%;
    }

        #comment-section-wrapper.open #comment-section-header {
            height: 5vh;
            top: 0;
        }

        #comment-section-wrapper.open #comments-number {
            opacity: 1;
            font-size: 1.5vw;
        }



#comment-section-footer.open {
    height: 7vh;
}

    #comment-section-footer.open #comment-input-field, #comment-section-footer.open #publish-comment-btn {
        opacity: 1;
    }

#comment-section-header {
    width: 100%;
    height: 0vh;
    background-color: #181818;
    position: relative;
    transform: translate(0%, 0);
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comments-number {
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    margin: 0;
    color: #fff;
}

#comments-list-wrapper {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.comment-wrapper {
    margin: 0;
    width: 100%;
    max-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 0.5vw;
}

.comment-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment-like-btn {
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0;
}

    .comment-like-btn h1 {
        color: #fff;
        font-size: 0.75rem;
        margin: 0.33em 0 0 0;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
    }

    .comment-like-btn.click-enabled {
        color: #da0b0b;
    }

    .comment-like-btn:not(.click-enabled) {
        color: #fff;
    }

.profile-name {
    text-align: left;
    vertical-align: middle;
    font-size: 1vw;
    word-wrap: normal;
    margin: 0 0 0 0.33vw;
    color: #aaa;
}

    .profile-name.liked-by-post-creator {
        text-decoration: 2px solid #fff underline;
        font-size: 1.025em;
        font-weight: 600;
    }

    .profile-name.edited {
        font-style: italic;
    }

.comment-text {
    min-height: 7vh;
    margin: 0;
    color: #aaa;
    font-size: 1.25vw;
    text-align: left;
    overflow: hidden;
    white-space: break-spaces;
    word-wrap: break-word;
    margin: 0.33vw 0 0 0;
    transition: 100ms;
}

    .comment-text[contenteditable="true"] {
        border: 1px solid #aaa;
    }

#comment-section-footer {
    width: 100%;
    height: 0;
    background-color: #181818;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -100%);
    border: 5px solid #212121;
    top: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#publish-comment-btn {
    margin: 0 1vw;
    color: #fff;
    font-size: 3rem;
    margin: 0 1.25rem 0 0.5rem;
    cursor: pointer;
    opacity: 0;
}

#comment-input-field {
    width: 70%;
    height: 60%;
    border-radius: 100px;
    padding: 0.075em 1em;
    background-color: #aaa;
    border: 3px solid #777;
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 0.5rem 0 1.25rem;
    opacity: 0;
}

.comment-edit-btn, .comment-delete-btn {
    color: #fff;
    font-size: 0;
    margin-left: 0.5em;
    cursor: pointer;
}

/*.comment-delete-btn {
    font-size: 1rem;
}*/

.comment-wrapper:hover .comment-edit-btn.active,
.comment-wrapper:hover .comment-edit-btn.active + .comment-delete-btn.active {
    font-size: 1rem;
}
