@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>

<body>

    <div id="top-bar-wrapper">
        <h1 class="top-bar-title">Following</h1>
        <h1 class="top-bar-title">For You</h1>
    </div>

    <div id="icons-side-menu">
        <div class="icon fa fa-circle"></div>
        <div id="like-button" class="icon fa fa-heart"></div>
        <div id="comment-button" class="icon fa fa-comment-dots comment-section-element"></div>
        <div id="save-button" class="icon fa fa-bookmark"></div>
        <div id="share-button" class="icon fa fa-share"></div>
    </div>

    <div id="comment-section-wrapper" class="comment-section-element">
        <div id="comment-section-header" class="comment-section-element">
            <h1 id="comments-number">Comment: 0</h1>
        </div>

        <div id="comments-list-wrapper" class="comment-section-element"></div>

    </div>

    <div id="comment-section-footer" class="comment-section-element">
        <div id="comment-input-field-profile-pic" class="comment-section-element"></div>
        <input type="text" name="enterComment" id="comment-input-field" class="comment-section-element"
               placeholder="Add comment...">
    </div>

    <template id="comment-template">
        <div class="comment-section-element comment-wrapper">
            <div class="comment-section-element profile-pic">
                <p class="comment-section-element profile-name"></p>
            </div>
            <p class="comment-section-element comment-text"></p>
            <div class="comment-section-element comment-like-btn"></div>
        </div>
    </template>
    <script src="~/js/main.js"></script>
</body>

</html>