@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>

<body>

    <div class="media-wrapper previous">
        <div class="icons-side-menu">
            <div class="icon fa fa-heart like-button">
                <h1 class="number-of-likes-post"></h1>
            </div>
            <div class="icon fa fa-comment-dots comment-button comment-section-element">
                <h1 class="number-of-comments-post"></h1>
            </div>
            <div class="icon fa fa-share share-button">
                <h1 class="number-of-shares-post"></h1>
            </div>
        </div>

        <div class="caption-wrapper">
            <h1 class="caption-creator-name"></h1>
            <p class="caption-content"></p>
        </div>

        <img src="" alt="Image not found" class="photo" />
    </div>
    
    <div class="media-wrapper active">
        <div class="icons-side-menu">
            <div class="icon fa fa-heart like-button">
                <h1 class="number-of-likes-post"></h1>
            </div>
            <div class="icon fa fa-comment-dots comment-button comment-section-element">
                <h1 class="number-of-comments-post"></h1>
            </div>
            <div class="icon fa fa-share share-button">
                <h1 class="number-of-shares-post"></h1>
            </div>
        </div>

        <div class="caption-wrapper">
            <h1 class="caption-creator-name"></h1>
            <p class="caption-content"></p>
        </div>

        <img src="" alt="Image not found" class="photo" />
    </div>

    <div class="media-wrapper next">
        <div class="icons-side-menu">
            <div class="icon fa fa-heart like-button">
                <h1 class="number-of-likes-post"></h1>
            </div>
            <div class="icon fa fa-comment-dots comment-button comment-section-element">
                <h1 class="number-of-comments-post"></h1>
            </div>
            <div class="icon fa fa-share share-button">
                <h1 class="number-of-shares-post"></h1>
            </div>
        </div>

        <div class="caption-wrapper">
            <h1 class="caption-creator-name"></h1>
            <p class="caption-content"></p>
        </div>

        <img src="" alt="Image not found" class="photo" />
    </div>


    <div id="share-popup">
        <h1>Link copied to clipboard</h1>
    </div>


    <div id="comment-section-wrapper" class="comment-section-element">
        <div id="comment-section-header" class="comment-section-element">
            <h1 id="comments-number">Comment: 0</h1>
        </div>

        <div id="comments-list-wrapper" class="comment-section-element"></div>

    </div>
    <div id="comment-section-footer" class="comment-section-element">
        <input type="text" id="comment-input-field" class="comment-section-element" placeholder="Add comment...">
        <div id="publish-comment-btn" class="comment-section-element fa fa-chevron-right"></div>
    </div>

    <template id="comment-template">
        <div class="comment-section-element comment-wrapper">
            <div class="comment-section-element comment-header">
                <div class="comment-section-element fa fa-heart comment-like-btn">
                    <h1 class="comment-section-element"></h1>
                </div>
                <p class="comment-section-element profile-name"></p>
                <div class="fa-solid fa-pen-to-square comment-section-element comment-edit-btn"></div>
                <div class="fa-solid fa-trash comment-section-element comment-delete-btn"></div>
            </div>
            <p class="comment-section-element comment-text" contenteditable="false"></p>
        </div>
    </template>
    <script src="~/js/main.js"></script>
</body>

</html>